.btn {
    cursor: pointer;
    display: flex;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border: 0;
    text-align: center;
    @include border-radius(50px);
    &:not(.btnFullBlack, .btnGreen) {
        @include linearGradientText;
    }
    &.btnGreen {
        background: transparent;
        font-size: 16px;
        color: #49bd58;
        border: solid 1px #49bd58;
        @include transition(all 0.3s);
        &:hover {
            background-color: #49bd58;
            color: #fff;
        }
    }
    &.btnFullBlack {
        @include transition(all 0.3s);
        border: solid 1px #1c1d21;
        color: #1c1d21;
        &:hover {
            background-color: #1c1d21;
            color: #fff;
        }
    }
}

button {
    &.btn {
        &:not(.btnFullBlack, .btnGreen) {
            display: block;
            position: relative;
            color: transparent;
            background: transparent;
            -webkit-text-fill-color: initial;
            text-indent:-9999px;
            &:after {
                content: attr(title);
                @include linearGradientText;
                color: transparent;
                display: inline-block;
                width: 100%;
                left: 0;
                text-align: center;
                position: absolute;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-indent:initial;
            }
        }
    }
}

.btnContainer {
    position: relative;
    display: table;
    margin: 0 auto;
    @include border-radius(50px);
    @include transition(box-shadow 0.3s);
    &.btnGold {
        @include linearGradientBorder;
        @include linearGradientText;
        &:hover {
            @include box-shadow($shadow);
        }
    }
}
